/* Ridiculous neon psychic sign background :3 */
body {
	background-image: url("../images/psychic-reader-small.jpg");
}

/* For footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -30px;
	/* Pad bottom by footer height */
	padding: 0px 0px 30px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 30px;
	color: lightsalmon;
	background-color: black;
	border-top-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
	overflow: auto;
}

/* Sticky Footer Text Styling */
.p-footer-main {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

/* Top Content/Header(ish) Styling */
.top-content {
	top: 0px;
	color: lightsalmon;
	background-color: black;
	border-bottom-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	padding: 0px 0px 10px 0px;
	text-align: center;
}

/* Main Content Box(es) Styling */
.main-psychic-content, .right-content, .bottom-content {
	background-color: #ffffff;
	border-style: solid;
	border-color: lightsalmon;
	border-width: 3px;
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 20px;
}

/* Specific settings for main content height */
.right-content, .main-psychic-content {
	min-height: 500px;
}

/* H1 Styling (for header/top content) */
h1 {
	font-weight: bold;
}

/* H4 Styling (for letter guess box title) */
h4 {
	text-decoration: underline;
}

/* Styling on letters guessed array */
#letters-guessed {
	padding: 0px 20px 0px 20px;
	text-align: center;
}

/* Styling for counts */
#guess-count, #win-count, #loss-count {
	text-align: left;
}

/* Styling for button to restart game */
#button-start {
	margin-top: 150px;
	background-color: royalblue;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	color: white;
	font-weight: bold;
}

/* Styling for restart game button on hover */
#button-start:hover {
	background-color: lightsalmon;
	color: red;
}

/* Styling for game prompt text */
#game-prompt {
	text-align: center;
	font-weight: bold;
}